@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rajdhani&display=swap');

$color00: whitesmoke;
$color01: #FDFFFC;
$color02: #D6D8FF;
$color03: #ffecd6;
$color04: #ffecd6c0;
$color05: #faefe3; 
$color06: #FDFFFC; 
$color07: #ccb59b;
$color08: #23293D;
$color09: #75151E;
$color10: #753649;
$color11: #31374a;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: $color00;
    color: $color08;
    font-family: Calibri;
}
@font-face{
    font-family: pacifico;
    src: url('../../public/Pacifico/Pacifico-Regular.ttf');
    font-family: Rajdhani;
    src: url('../../public/Rajdhani-Regular.ttf'); 
}

@mixin stdparams{
    display: block;
    position: relative;
    width: 100%;
}

.separator01{
  position: relative;
  text-align: center;
  margin: 10px auto;
  width: 150px;
  border-bottom: double 5px $color07;
}
.separator02{
  position: relative;
  display: inline-block;
  width: 150px;
  border-bottom: double 5px $color07;
}
.border-me{
  background-color: $color07;
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: solid 1px $color07;
  border-radius: 5px;
}

// ----------------------- menu
.menucontainer01{
    @include stdparams;
}
.menucontainer02{
    // @include stdparams;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    // background-color: $color07;
    .menulogo{
        @include stdparams;
        max-height: 50px;
        max-width: 30%;
        height: auto;
        img{
            height: 100%;
        }
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            display: inline-block;
            a{
                display: block;
                height: 100%;
                padding: 16px 30px;
                text-decoration: none;
                color: $color03;
                &:hover{
                    background: $color03;
                    color: $color08;
                }
            }
        }
    }
}

// ------------------------- boutons
.mybutton01{
    display: block;
    position: relative;
    text-align: center;
    min-width: 100px;
    width: 80%;
    max-width: 250px;
    margin: 20px auto 0;
    padding: 10px 30px;
    border: solid 1px $color04;
    border-radius: 50px;
    background: $color07;
    color: $color03;
    text-decoration: none;
    transition: 0.5s;
  }
  .mybutton01:hover{
    color: $color03;
    text-decoration: none;
    background: $color07;
    border: solid 1px $color03;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 3px, rgba(0, 0, 0, 0.06) 0px 2px 4px 3px;
    cursor: pointer;
  }
  .mybutton01:active{
    transform: scale(0.8);
  }
  a{
    color: $color03;
  }



  /* ------------------ Footer -------------------------- */
  
.footer-section{
  position: relative;
  display: grid;
  width: 100%;
  min-height: 300px;
  padding: 20px;
  color: $color07;
  // background-color: $color10;
  background-color: $color11;
  grid-template-columns: 50% 20% 30%;
  grid-template-areas: "fi fm fc";
  // &::after{
  //   content:'';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background-color: #00000074;
  //   z-index: 0;

  // }
}
.footer-section h2, .footer-section h3, .footer-section p, .footer-section li{
  color: $color04;
  z-index: 2;
}
.footer-section a{
  color: $color03;
  z-index: 2;
}
.footer-section ul{
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.footer-info{
  position: relative;
  grid-area: fi;
  margin: 10px;
  padding: 10px;
  z-index: 2;
}
.footer-menu{
  position: relative;
  grid-area: fm;
  margin: 10px;
  padding: 10px;
  z-index: 2;
}
.footer-contact{
  position: relative;
  grid-area: fc;
  margin: 10px;
  padding: 10px;
  z-index: 2;
}

.myfb, .myli{
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
}
.myfb:hover, .myli:hover{
  color: $color07;
  background-color: $color04;
}

.mobile-menulist{
  display: none;
}