.homefirst {
  @include stdparams;
}
.testimg {
  position: absolute;
  height: 70vh;
  overflow-y: hidden;
  img {
    @include stdparams;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  }
}
.homebackground {
  @include stdparams;
  .titleban {
    @include stdparams;
    display: flex;
    width: 50%;
    margin: auto;
    h1,
    h2 {
      font-size: 3rem;
      color: $color00;
      font-family: pacifico;
      text-align: center;
      margin: 3% auto 1%;
    }
    h1 {
      color: $color07;
    }
  }
  .slogan {
    @include stdparams;
    margin: 1% auto 3%;
    h3 {
      text-align: center;
      color: $color00;
      font-size: 1.5rem;
    }
  }
}

.pplslider {
  @include stdparams;
  width: 100%;
  height: 45vh;
  width: 80vw;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .slidercontainer{
    @include stdparams;
    width: 80vw;
    margin: auto;
    // overflow: hidden;
  }


  .hideme{
    display: none;
  }
  .gauche {
    @include stdparams;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s;
    z-index: 0;
  }
  .centre {
    @include stdparams;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 2;
  }
  .droite {
    @include stdparams;
    position: absolute;
    top: 0;
    left: 100%;
    transition: 1s;
    z-index: 0;
  }
  .mycontent {
    min-width: 80vw;
    @include stdparams;
    img {
      position: absolute;
      width: 100%;
    }

    .pplimgright {
      @include stdparams;
      width: 100%;
      height: 45vh;
      color: $color08;
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1),
        rgba(255, 255, 255, 0.1),
        whitesmoke,
        whitesmoke,
        whitesmoke
      );
      .slidertxt {
        position: relative;
        width: 50%;
        height: 100%;
        right: -50%;
        display: flex;
        align-items: center;
        .slidercontent {
          padding: 15%;
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.container01 {
  @include stdparams;
  margin: 4% auto;
}
.firstban {
  @include stdparams;
  h2 {
    text-align: center;
  }
}

.mytext01 {
  position: relative;
  min-width: 375px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.stdcontainer{
  @include stdparams;

  h2{
    text-align: center;
  }

  .bannerhome03{
    @include stdparams;
    background-color: $color02;
    width: 80vw;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 3px, rgba(0, 0, 0, 0.06) 0px 2px 4px 3px;
    .leftpart, .rightpart{
      width: 50%;
      h3{
        text-align: center;
      }
      background-color: $color01;
    }
    .leftpart{
      @include stdparams;
      min-height: 70vh;
      max-height: 80vh;
      width: 50%;
      overflow: hidden;
      background: url('../../../public/image/mamie.jpg') center/cover;
    }
    .rightpart{
      @include stdparams;
      display: flex;
      flex-direction: column;
      // text-align: center;
      justify-content: center;
      padding: 5%;
      width: 50%;
      background-color: $color10;
      color: $color00;
    }
  }
  .bannerhome04{
    @include stdparams;
    background-color: $color02;
    width: 80vw;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 3px, rgba(0, 0, 0, 0.06) 0px 2px 4px 3px;
    .leftpart, .rightpart{
      width: 50%;
      h3{
        text-align: center;
      }
      background-color: $color01;
    }
    .leftpart{
      @include stdparams;
      display: flex;
      flex-direction: column;
      // text-align: center;
      justify-content: center;
      padding: 5%;
      width: 50%;
      background-color: $color01;
      color: $color08;
    }
    .rightpart{
      @include stdparams;
      min-height: 70vh;
      max-height: 80vh;
      width: 50%;
      overflow: hidden;
      background: url('../../../public/image/cuisine02.jpg') center/cover;
    }
  }
}

/* **************************** Bannière 03 *************************************  */
.roll-image{
  position: relative;
  display: flex;
  background: url('../../../public/image/roll.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
  // padding: 150px 40px 40px 0;
  margin: 4% auto;
}
.qui{
  position: absolute;
  bottom: 40px;
  right: 10%;
  width:50%;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 3px, rgba(0, 0, 0, 0.06) 0px 2px 4px 3px;
}
.qui-text{
  position: relative;
  margin: 0 0;
  // border: solid 2px $color00;
  // background: $color05;
  // background : rgba(255, 255, 255, 0.600);
  // backdrop-filter: blur(20px);
  background : #75151fd3;
  color: $color04;
  padding: 5%;

}
.qui-text ul{
  position: relative;
  // list-style-type: none;
  // margin: 0;
}
.usercheck{
  margin: 5px;
  font-size: 1.2rem;
  color: $color07;
}

.activities{
  @include stdparams;
  margin: 5% auto;
  .mypara{
    width: 60%;
    text-align: center;
    margin: 0 auto 2%;
  }
  .pictos{
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .picto{
      max-width: 9%;
      text-align: center;

      img{
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}
.banner04{
  @include stdparams;
  .introtext{
    width: 70%;
    margin: auto;
    text-align: center;
  }
}
.grid-me{
  position: relative;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "sec01 sec02 sec02"
  "sep sep sep"
  "sec04 sec03 sec03";
  width: 80%;
  margin: auto;
  img{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 3px, rgba(0, 0, 0, 0.06) 0px 2px 4px 3px;
  }
}
.sec01{
  display: flex;
  align-items: center;
  grid-area: sec01;
  margin: 25px auto;
  
}
.sec02{
  display: flex;
  align-items: center;
  grid-area: sec02;
  margin: 25px auto;
}
.sec03{
  display: flex;
  align-items: center;
  grid-area: sec03;
  margin: 25px auto;
}
.sec04{
  display: flex;
  align-items: center;
  grid-area: sec04;
  margin: 25px auto;
}
.sec02 h3, .sec03 h3, .bann-content03 h3, .equipe h3{
  text-decoration: underline;
  margin: 0 0 20px 0;
  font-weight: 200;
}
.pousseoir{
  border-left: solid 6px $color07; 
  // border-radius: 10px 0 0 10px;
  padding: 20px;
  /* box-shadow: -8px 0px 6px -6px black; */
  box-shadow: -8px 0px 7px -6px rgba(167, 167, 167, 0.548);
}
